body{
    margin:0px;
    padding: 0px;
    background-color: #c4c4c4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a:link, a:visited {
    color: #800000;
    text-decoration: none;
}
h1, ul {
    list-style: none;
    margin: 0px;
}

.red_text{
    color: #800000;  
}

#header{
    background-color: #800000;
    color: #FFFFFF;
}
#header_content{
    padding: 20px;
    width: 960px;
    margin: 0 auto;
}

#logo{
    width: 320;
    height: 106px;
    display: inline-block;
    background-image: url("../img/click_store.png");
    background-repeat: no-repeat;
}

.cart{
    display: inline-block;
    float: right;
}

#header_content a {
    color: #FFFFFF;
    text-decoration: none;
}

#wrapper{
    padding: 20px;
    height: 100%;
    width: 960px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

/*
* Menu
*/
#menu li {
    padding: 10px 10px;
    display: inline-block;
    vertical-align:middle;  
}


#footer {
   
    bottom: 0px;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    background-color: #800000;
}

/*
Product view
*/

#view-content{
    padding: 50px;
}
.product_img img{
    width: 200px;

}
.product_img{
    width: 200px;
     display: inline-block;
}
.product_side{
    display: inline-block;
    vertical-align: top;
    padding: 50px;
}


